.about
  display             flex
  justify-content     space-around
  align-items         center
  flex-direction      row

  h3
    color               hsl(0, 52%, 52%)


  .bottom-image
    margin: 6rem;
    height: 60rem;
