.about
  display             flex
  justify-content     space-around
  align-items         center
  flex-direction      row

  color               hsl(0, 52%, 52%)

  .bottom-image
    max-width         200px
    border-radius     50%
