footer
  padding-top           6rem
  padding-bottom        12rem
  @media tablet
    padding-bottom      16rem

  text-align            center


  @import get-in-touch-menu

  .source
    text-decoration     none
    color               white

    &:before
      content           '</>'
      display           block
      font-weight       bold
      padding           3rem

    @media tablet
      font-size         6rem

    @media desktop
      font-size         4.5rem
