footer
  text-align            center
  padding-bottom        4rem

  @import get-in-touch-menu

  .source
    text-decoration     none
    color               white

    &:before
      content           '</>'
      display           block
      font-weight       bold
      padding           3rem

    @media tablet
      font-size         6rem

    @media desktop
      font-size         4.5rem
