form

  display             flex
  justify-content     center
  align-items         center
  flex-direction      column

  color               gray

  h1, h2
    text-align        center

  input
    margin-bottom     5rem
    margin-top        5rem
    padding           3rem
    font-weight       regular
