#freelance

  display             flex
  justify-content     center
  align-items         center
  flex-direction      column
  border-top          solid 2rem black

  color               gray

  .team
    display           flex
    flex-flow         row wrap
    justify-content   space-around
    margin            12rem 0
    text-align        center

    .teammate
      text-decoration none

      img
        height        40rem

        @media tablet
          height        50rem

  h1, h2
    text-align        center

  .typeform-share
    font-size         10rem
    flex-grow         1
    color             white
    text-decoration   none
    background        hsl(0, 52%, 52%)

    margin-bottom     20rem
    margin-top        7rem
    padding           5rem

    &:hover
      font-weight bolder
