#menu
  display           flex
  flex-wrap         wrap
  justify-content   flex-start
  position          relative

  list-style        none
  margin            0
  padding           0


  li
    font-size         5rem
    flex-grow         1
    margin            0
    font-weight       light

    &.caption, a
      display         block
      padding         4rem 0
      color           white
      text-decoration none

    &.caption
      font-weight     bold
      width           100%

      @media tablet
        width         initial

    a
      text-transform  uppercase

  .magic-line
    position      absolute
    bottom        0
    height        2px
    width         0
    background    red
    transition    left 0.5s ease, width 0.5s ease
