#menu
  display           block
  @media tablet
    display         flex
    flex-wrap       wrap
    justify-content flex-start
    position        relative

  list-style        none
  margin            0
  padding           0


  li
    font-size         5rem
    flex-grow         1
    margin            0
    font-weight       light

    &.caption, a
      display         block
      padding         2rem 0
      color           white
      text-decoration none

    &.caption
      font-weight     bold
      width           100%

      // Display fancy lines on both sides on mobile
      // on tablet and deskotp display magic line instead
      display               flex
      align-items           center

      &:after, &:before
        content             ''
        flex                1
        display             block
        height              2px
        background          red
        margin              0 6rem

      @media tablet
        display             block

        &:before, &:after
          display           none


      @media tablet
        width         initial

    a
      text-transform  uppercase

  .magic-line
    position      absolute
    bottom        0
    height        2px
    width         0
    background    red
    transition    left 0.5s ease, width 0.5s ease

    display       none

    @media tablet
      display     block
