.grid
  display      flex
  flex-flow    row wrap
  list-style   none
  padding      0
  margin-top   20rem
  font-size    5rem

  .grid-item
    flex       0 0 35rem
    text-align center

    img
      width    25rem
