header
  display             flex
  justify-content     flex-end
  align-items         center
  flex-direction      column-reverse
  @media tablet
    flex-direction    row-reverse

  padding             16rem
  box-sizing          border-box

  width               100%
  max-width           1140px
  margin              auto

  h1
    padding             6rem

    font-weight         light
    font-size           12.5rem

    text-align          center
    @media tablet
      text-align        initial


    strong
      font-weight       regular
      color             red

  .main-image
    padding             6rem

    height              60rem
    flex-shrink         0
