header
  display     flex
  justify-content space-between
  align-items center
  width       100%

  nav
    display   flex
    align-items center

    a
      color           white
      text-decoration none
      text-transform  uppercase

      &#sign-up
        display         block
        padding         3rem 8rem
        border          solid 1px gray
        border-radius   2rem
        transition      border-color 1s ease

        &:hover
          border-color  red


    #menu
      display     flex
      list-style  none

      @media screen and (max-width: 960px)
        display none

      li
        padding     5rem 2rem
        margin      0 2rem
        font-weight light

        &.active
          border-bottom solid 0.5rem red
          font-weight   bold

    #hamburger
      background  none
      border      none

      @media screen and (min-width: 960px)
        // FIXME: At 960 neither hamburger nor menu is visible
        display none
