header
  display             flex
  justify-content     flex-end
  align-items         center
  flex-direction      column
  @media tablet
    flex-direction    row-reverse

  width               100%
  max-width           1140px

  h1
    margin              6rem

    font-weight         light
    font-size           12.5rem

    strong
      font-weight       regular
      
  .main-image
    margin              6rem

    height              60rem
    flex-shrink         0
