// Global variables:

// Colors
red         = hsl(233, 40% , 30%)
red-light   = hsl(0  , 52% , 66%)
gray        = hsl(0  , 0%  , 32%)
gray-light  = hsl(0  , 0%  , 79%)


// Media:
tablet    = 'screen and (min-width: 640px)'
desktop   = 'screen and (min-width: 960px)'

// Typography:

// Font weights
hairline  = 100
light     = 300
regular   = 400
bold      = 700

@import "typography"

// Layout
html
  font-size         2px

  @media tablet
    font-size       3px

  @media desktop
    font-size       4px

html
  min-height 100%

body
  min-height            100%
  padding               0
  margin                0

screen()
  width                 100%

  .container
    display             flex
    flex-flow           column nowrap

    box-sizing        border-box

    min-height          100vh
    max-width           1140px

    margin              auto

    padding             10rem



body > section
  screen()

@import "landing-screen"
@import "freelance-screen"

body > footer
  padding     10rem
  background  white

  color       gray
  text-align  center
  font-size   5rem
  font-weight lighter

  a
    font-weight regular
