// Typography
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700&subset=latin,latin-ext);

// Font weights
hairline  = 100
light     = 300
regular   = 400
bold      = 700

// Colors
red       = #c44545
gray      = #515353

// Media
tablet    = 'screen and (min-width: 640px)'
desktop   = 'screen and (min-width: 960px)'

// Responsive baseline and typography grid
html
  font-family 'Lato', sans-serif;

  // It's mobile by default
  font-size   2px

  body
    font-size       6rem  // 12px

  @media tablet
    font-size 3px
    body
      font-size     4rem  // 12px

  @media desktop
    font-size 4px
    body
      font-size     3.5rem // 14px

html, body, #container
  height  100%
  margin  0
  padding 0

body
  color           white

  background      black
  background-image    url('background.jpg')
  background-position top center

#container
  width           100%
  margin          auto
  display         flex
  flex-direction  column

  background      hsla(0,0%,0%,90%)


  header
    flex-shrink   0
    flex-grow     0

  main
    flex-shrink   0
    flex-grow     1

  // Components:
  @import header
  @import main
