@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700&subset=latin,latin-ext);

@import header

html, body, #container
  min-height  100%

html
  background  black
  color       white
  font-size   4px
  font-family 'Lato', sans-serif;

body
  font-size   3.5rem

#container
  width       100%
  max-width   1140px
  margin      auto
